html{
	height:100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  height: 100%;
}
h1 {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 11px;
  margin-left: 0px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  font-family:'lucida grande','Helvetica Neue', Helvetica, Arial;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 100;
  letter-spacing: 5px;
}
h2 {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
ul{
	list-style: square;
}
s{
	display: inline-block;
	width: 55px;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
  min-width: 40%;
}
.button:hover {
  background-color: #008cff;
}
.buttonbox{
	text-align: center;
}
.section {
  padding-top: 43px;
  padding-bottom: 43px;
}
.section.header {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: black;
}
.section.footer {
  background-color: black;
  width: 100%;
  position: relative;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #666666;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  background-color: #969696;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up {
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link:hover.sign-up:hover {
  background-color: #0076d6;
}
.company-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.company-title-link{
	text-decoration: none;
	color: white;
}
.nav-bar {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
  font-size: 15px;
  margin-top: 14px;
  color: white;
}
.hero-bg {
  width: auto;
  min-height: 500px;
  padding-top: 334px;
  background: url(http://dlotanspielewiese.appspot.com/images/Background1.jpg) no-repeat;
  background-size: 100%
}
.hero-bg.content {
  min-height: 420px;
  padding-top: 316px;
  background-attachment: fixed;
  background-size: 100%
}
.store-link{
	text-decoration: none;
	text-transform: none;
	color: #eeeeee;
}

.blub:hover{
	background-color: rgba(0, 0, 0, 0.65);
}

.subtitle {
  margin-bottom: 18px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 700;
}
.section-description {
  font-size: 14px;
}
.section-products {
  display: block;
}
.snippet-img {
  width: 300px;
  height: 440px;
  float: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.snippet {
  display: block;
  border-radius: 5px;
  background-color: #f2f2f2;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  text-decoration: none;
  width: 300px
}
.snippet:hover {
  background-color: #e8e8e8;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.right-col {
  padding-top: 13px;
  text-align: right;
}
.more-link {
  padding: 6px 8px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #008cff;
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  width: 102.1%;
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.company-column {
  padding-right: 0px;
  padding-left: 0px;
}
.img-example {
  margin-bottom: 34px;
}
.footer-link {
  margin-left: 20px;
  color: white;
  font-size: 14px;
  letter-spacing: .3em;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
  position: relative;
  margin-top: 14px;
}

.footer-mid{
	text-align: center;
}

.left-footer-col{
	text-align: center;
}

.footer-text {
  width: 100%;
  font-size: 14px;
  color:white;
  font-weight: 100;
  position: relative;
  margin-top: 14px;
}
.content-bg {
  min-height: 420px;
  padding-top: 292px;
  background-image: url(http://dlotanspielewiese.appspot.com/images/fillbackground2.jpg);
  background-attachment: fixed;
  background-size: 100%
}

.product-container {
  height: auto;
  margin-top: 26px;
}

.product-name{
	background-color:black;
}

.product-name-box{
	text-align: center;
}

.pay-container{
	height: auto;
	margin-top: 70px;
	min-height: 70%;
	font-size: 17px;
}

.soldout{
	display: inline-block;
	color:grey;
}

.buy-container{
	height: auto;
	margin-top: 70px;
	min-height: 70%;
	font-size: 17px;
}

.status-container{
	height: auto;
	margin-top: 70px;
	min-height: 70%;
	font-size: 17px;
}

.descriptioncolumn {
  height: 100%;
}

.icon{
	width: 50px;
	height: 50px;
	display: inline-block;
	padding-top: 9px;
  	border-radius: 50px;
  	background-color: black;
  	-webkit-transition: all 200ms ease;
  	-o-transition: all 200ms ease;
  	transition: all 200ms ease;
}

.icon:hover{
	background-color: DarkBlue;
}

.icon-picture{
	margin-top:-10px
}

.textblock {
  margin-top: 44px;
  font-size: 17px;
}
.error {
	color:red;
}
