{% extends "adminbase.html" %}
{% block title %}Add Sub Product{% endblock %}
{% block headline %}Add Sub Product{% endblock %}
{% block main_content %}
Product ID: {{product.key.id()}}<br>
Product Name: {{product.name}}<br>
SubProducts:<br>
<table border = "1">
<tr>
	<th>Value</th><th>Position</th>
</tr>
{% for subproduct in subproducts %}
<tr>
	<td>{{subproduct.value}}</td><td>{{subproduct.position}}</td>
</tr>
{% endfor %}
</table>
<hr>
<form method = "post">
	<label>
		Value
		<input type="text" name = "value" value = "">
	</label><br>
	<label>
		Position
		<input type="text" name = "position" value = "">
	</label>
	<input type = "submit">
</form>
{% endblock %}