{% extends "userbase.html" %}
{% block trackingcode %}
{% endblock %}
{% block title %}
Status
{% endblock %}
{% block main_content %}
  <div class="status-container">
    <div class="w-container">
      <div class="w-row">
        <table border = "0">
        <tr>
      	<td>Produkt Name: </td><td>{{product.name}}</td>
      	</tr>
      	<tr>
      	<td>Size: </td><td>{{subproduct.value}}</td>
      	</tr>
      	<tr>
      	{% set price = (product.price / 100.0) + (contact.shipping_cost /100.0) %}
      	<td>Gesamtpreis: </td><td>{{'%0.2f'| format(price|float)}} EUR</td>
      	</tr>
      	<tr>
      	<td>TransaktionsID: </td><td>{{payment.key.id()}}</td>
      	</tr>
      	<tr>
      	<td>Bezahlart: </td>
      	<td>
      	{% if payment.paymethod == "paypal" %}
      	Paypal
      	{% elif payment.paymethod == "persoenlich" %}
      	Persoenlich
      	{% elif payment.paymethod == "ueberweisung" %}
      	&Uuml;berweisung
      	{% endif %}
      	</td>
      	</tr>
      	</table>
      	<br>
      	<table border ="0">
      	<tr>
      	<td>Bezahlstatus:</td>
      	<td>
      	{% if payment.payed %} 
      	 Bereits bezahlt
      	{% else %}
      	 Noch nicht bezahlt
      	{% endif %}
      	</td>
      	</tr>
      	<tr>
      	<td>Produktstatus:</td>
      	<td>
      	{% if payment.state == "processing" %}
      	 In Bearbeitung
      	{% elif payment.state == "transit" %}
      	 Im Versand
      	{% elif payment.state == "finished" %}
      	 Geschaefft beendet
      	{% elif payment.state == "canceled" %}
      	 Cancelled
      	{% endif %}
      	</td>
      	</tr>
      	</table>
      	<br>
      	<br>
      	<br>
      	{% if payment.paymethod == "ueberweisung" %}
      	Kontodaten:<br><br>
      	<table border = "0">
      	<tr>
	     	<td>Kontoinhaber:</td><td>Larissa G&ouml;b</td>
	    </tr>
	    <tr>
	     	<td>Kontonummer:</td><td>1000601941</td>
	    </tr>
	    <tr>
	     	<td>Bankleitzahl:</td><td>60350130</td>
	    </tr>
	    <tr>
	     	<td>Bank:</td><td>Kreissparkasse B&ouml;blingen</td>
	    </tr>
	    <tr>
			<td>IBAN:</td><td>DE41 6035 0130 1000 6019 41</td>
		</tr>
	    <tr>
			<td>BIC:</td><td>BBKRDE6BXXX</td>
		</tr>
	    <tr>
			<td>Verwendungszweck:</td><td>{{payment.key.id()}}</td>
		</tr>
		</table>
		{% elif payment.paymethod == "persoenlich" %}
		Terminvereinbarung bitte unter <a href="mailto:larissagoeb@gmail.com">larissagoeb@gmail.com</a>.
      	{% endif %}
      </div>
    </div>
  </div>
{% endblock %}