{% extends "userbase.html" %}
{% block trackingcode %}
{% endblock %}
{% block title %}
&Uuml;berweisung
{% endblock %}
{% block main_content %}
  <div class="pay-container">
    <div class="w-container">
      <div class="w-row">
      	Vielen Dank {{contact.first_name}}, dass Du bei uns eingekauft hast!<br>
      	Bitte &Uuml;berweise den Betrag von {{'%0.2f'| format(sumprice|float)}} EUR an das Konto:<br><br>
      	<table border = "0">
      	<tr>
	     	<td>Kontoinhaber:</td><td>Larissa G&ouml;b</td>
	    </tr>
	    <tr>
	     	<td>Kontonummer:</td><td>1000601941</td>
	    </tr>
	    <tr>
	     	<td>Bankleitzahl:</td><td>60350130</td>
	    </tr>
	    <tr>
	     	<td>Bank:</td><td>Kreissparkasse B&ouml;blingen</td>
	    </tr>
	    <tr>
			<td>IBAN:</td><td>DE41 6035 0130 1000 6019 41</td>
		</tr>
	    <tr>
			<td>BIC:</td><td>BBKRDE6BXXX</td>
		</tr>
	    <tr>
			<td>Verwendungszweck:</td><td>{{payment.key.id()}}</td>
		</tr>
		</table>
		<br><br>
      	<a href="/status/{{payment.key.id()}}">Bestellstatus</a><br><br><br>
      	Produkte:<br><br>
      	<table border ="0">
      	<tr>
        	<th>
        		Produktname
        	</th>
        	<th>
        		Size
        	</th>
        	<th>
        		Einzelpreis
        	</th>
        	<th>
        		Menge
        	</th>
        	<th>
        		Gesamt
        	</th>
        </tr>
        {% for position in cart %}
        <tr>
	        <td>{{position[0].name}}</td>
	      	<td>{{position[1].value}}</td>
	      	{% set price = position[0].price / 100.0 %}
	      	<td>{{'%0.2f'| format(price|float)}} EUR</td>
	      	<td id="amount">{{position[2]}}</td>
	      	{% set price = price * position[2] %}
	      	<td>{{'%0.2f'| format(price|float)}} EUR</td>
	    </tr>
        {% endfor %}
        <tr>
        	<td>Versandkosten</td>
        	<td></td>
        	<td></td>
        	<td></td>
        	{% set price = contact.shipping_cost / 100.0 %}
        	<td>{{'%0.2f'| format(price|float)}} EUR</td>
        </tr>
        <tr>
	       	<td>----------</td>
	       	<td></td>
	      	<td></td>
	      	<td></td>
	       	<td>-----------</td>
      	</tr>
        <tr>
        	<td><b>Gesamt</b></td>
        	<td></td>
        	<td></td>
        	<td></td>
        	<td> <b>{{'%0.2f'| format(sumprice|float)}} EUR</b></td>
      	</tr>
      	</table>
      </div>
    </div>
  </div>
{% endblock %}