<!DOCTYPE html>
<html>
  <head>
    <title>
    	{% block title %}
    	{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
  	<div class = "topbar">
		{% block topbar %}
			<a href="/admin/index">Index</a> Links to AdminIndex... AdminEdit... etc...
		{% endblock %}
  	</div>
    <div class = "headline">
    	{% block headline %}
    	{% endblock %}
    </div>
    <br>
    <div class = "maincontent">
    	{% block main_content %}
    	{% endblock %}
    </div>
  </body>
</html>