{% extends "userbase.html" %}
{% block title %}
Status
{% endblock %}
{% block main_content %}
  <div class="pay-container">
    <div class="w-container">
      <div class="w-row">
      	Vielen Dank, dass sie das Produkt: {{product.name}} in der Ausfuehrung {{subproduct.value}} bei uns gekauft haben.<br>
      	Sie koennen es bei der addresse (ADDRESSE) abholen. Bitte vereinbaren sie einen Termin unter (EMAIL).<br>
      	{% set price = product.price / 100.0 %}
      	Der Preis betraegt: {{'%0.2f'| format(price|float)}} EUR<br>
      	<a href="/status/{{payment.key.id()}}">Bestellstatus</a>
      </div>
    </div>
  </div>
{% endblock %}