{% extends "userbase.html" %}
{% block title %}
Status
{% endblock %}
{% block main_content %}
  <div class="pay-container">
    <div class="w-container">
      <div class="w-row">
      	Produkt Name: {{product.name}}<br>
      	Produkt Variante: {{subproduct.value}}<br>
      	TransaktionsID: {{payment.key.id()}}<br>
      	<br>
      	Bezahlstatus: 
      	{% if payment.payed %} 
      	 Bereits bezahlt.
      	{% else %}
      	 Noch nicht bezahlt.
      	{% endif %}
      	<br>
      	Produktstatus: 
      	{% if payment.state == "processing" %}
      	 In Bearbeitung
      	{% elif payment.state == "transit" %}
      	 Im Versandt
      	{% elif payment.state == "finished" %}
      	 Geschaefft beendet
      	{% elif payment.state == "canceled" %}
      	 Cancelled
      	{% endif %}
      	<br>
      </div>
    </div>
  </div>
{% endblock %}