{% extends "userbase.html" %}
{% block title %}
Buy
{% endblock %}
{% block main_content %}
  <div class="pay-container">
    <div class="w-container">
      <div class="w-row">
      Produkt Name: {{product.name}}<br>
      {% set price = product.price / 100.0 %}
      Produkt Preis: {{'%0.2f'| format(price|float)}} EUR
      <br><br>
        <form method="post">
        <table border="0">
        	<tr>
			<td>Vorname</td><td><input type="text" name = "first_name" value = "{{params['first_name']}}"></td><td class="error">{{params['first_name_error']}}</td>
			</tr>
			<tr>
			<td>Nachname</td><td><input type="text" name = "last_name" value = "{{params['last_name']}}"></td><td class="error">{{params['last_name_error']}}</td>
			</tr>
			<tr>
			<td>Strasse</td><td><input type="text" name = "street" value = "{{params['street']}}"></td><td class="error">{{params['street_error']}}</td>
			</tr>
			<tr>
			<td>Hausnummer</td><td><input type="text" name = "street_number" value = "{{params['street_number']}}"></td><td class="error">{{params['street_number_error']}}</td>
			</tr>
			<tr>
			<td>Plz</td><td><input type="text" name = "plz" value = "{{params['plz']}}"></td><td class="error">{{params['plz_error']}}</td>
			</tr>
			<tr>
			<td>Stadt</td><td><input type="text" name = "city" value = "{{params['city']}}"></td><td class="error">{{params['city_error']}}</td>
			</tr>
			<tr>
			<td>E-Mail</td><td><input type="text" name = "email" value = "{{params['email']}}"></td><td class="error">{{params['email_error']}}</td>
			</tr>
			<tr>
			<td>E-Mail wiederholen</td><td><input type="text" name = "email2" value = "{{params['email2']}}"></td><td class="error">{{params['email2_error']}}</td>
			</tr>
		</table>
		<br>
		Version:
		<select name="subproduct_name" size="1">
			{% for subproduct in subproducts %}
				<option>{{subproduct.value}}</option>
			{% endfor %}
		</select>
		<br>
		{{params['subproduct_error']}}
		<br>
		Bezahlart:<br>
		<input type="radio" name="paymethod" value="paypal" checked> Paypal<br>
		<input type="radio" name="paymethod" value="ueberweisung"> Ueberweisung<br>
		<input type="radio" name="paymethod" value="persoehnlich"> Persoehnlich<br>
		{{params['paymethod_error']}}
		<br>
		<input type="submit">
        </form>
      </div>
    </div>
  </div>
{% endblock %}